.step-item {
  @apply flex flex-col relative w-60;
}

.step-item:not(:first-child)::before {
  @apply content-[''] block bg-gray absolute -top-14 left-4 h-full w-0.5 border border-gray;
}

.step {
  @apply w-8 h-8 mb-2 flex items-center justify-center z-10 relative text-black bg-gray rounded-full font-semibold;
}

.active .step {
  @apply bg-sky text-white;
}

.complete .step {
  @apply bg-green text-white;
}

.alert .overlay {
  @apply flex fixed h-full w-full items-center justify-center;
}
.overlay {
  @apply bg-white blur-sm;
}

.containerboxover {
  @apply flex flex-col w-full h-full;
}
.cancel {
  @apply flex absolute text-xs -right-2.5 -top-2.5 bg-black hover:bg-black focus:outline-none font-medium rounded-full pl-2 pr-2 py-[4px] dark:bg-sky;
}

.documentimgstyle {
  @apply p-8 text-sm text-extrdarkgray border border-darkgray rounded-md bg-gray border-dashed flex flex-col justify-center items-center;
}

.documentbtn {
  @apply text-white text-xs bottom-1.5 bg-sky hover:bg-black focus:ring-4 focus:outline-none focus:ring-sky font-medium rounded-md pl-2 pr-2 py-[6px] w-fit flex mr-2 justify-center items-center;
}

.videoKyc {
  @apply w-full py-3 pl-2 text-sm text-extrdarkgray border border-darkgray rounded-md bg-gray border-dashed;
}

.vidoKyCambtn {
  @apply text-white text-xs bg-sky hover:bg-black focus:ring-4 focus:outline-none focus:ring-sky font-medium rounded-md pl-2 pr-2 py-[6px] w-fit flex justify-center items-center right-2.5 absolute;
}

.side {
  @apply h-0 w-0 mt-4 border-t-white border-b-white border-r-red border-r-[12px] border-t-[8px] border-b-[8px];
}

li {
  list-style-type: none;
  position: relative; /* It's needed for setting position to absolute in the next rule. */
}

li::before {
  content: '•';
  position: absolute;
  left: -0.6em;
  top: -0.4em; /* Adjust this value so that it appears where you want. */
  font-size: 2em; /* Adjust this value so that it appears what size you want. */
}
